<div class="navbar navbar-inverse">
	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="https://apprenda.com" class="navbar-left"><img height="50px" width="50px" src="assets/img/apprenda-logo.png" alt="Apprenda Logo"></a>
          <a class="navbar-brand" routerLink="/search">Apprenda Kubernetes Workshop</a>
     </div>
     <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li class="active"><a router-link="/">Home</a></li> -->
          </ul>
     </div>
</div>
<router-outlet></router-outlet>
